[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/João M. Lavoier Fh. (jmlavoier)
[access "refs/for/refs/*"]
	read = group user/João M. Lavoier Fh. (jmlavoier)
	push = group user/João M. Lavoier Fh. (jmlavoier)
	label-Code-Review = -2..+2 group user/João M. Lavoier Fh. (jmlavoier)
	label-Verified = -1..+1 group user/João M. Lavoier Fh. (jmlavoier)
	rebase = group user/João M. Lavoier Fh. (jmlavoier)
	removeReviewer = group user/João M. Lavoier Fh. (jmlavoier)
	submit = group user/João M. Lavoier Fh. (jmlavoier)
[access "refs/heads/*"]
	read = group user/João M. Lavoier Fh. (jmlavoier)
	create = group user/João M. Lavoier Fh. (jmlavoier)
	push = +force group user/João M. Lavoier Fh. (jmlavoier)
	pushMerge = group user/João M. Lavoier Fh. (jmlavoier)
[access "refs/tags/*"]
	push = +force group user/João M. Lavoier Fh. (jmlavoier)
	pushTag = group user/João M. Lavoier Fh. (jmlavoier)
	pushSignedTag = group user/João M. Lavoier Fh. (jmlavoier)
